.products-image .products-banner-img {
    height: 250px;
    width: 100%;
    background-image: url('/assets/images/product-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: Arial, sans-serif;
 
    margin: 0;
    padding: 0;
}

.featured-products {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.featured-products h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #28a745;
    font-weight:bold;
}

.featured-products p {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 400px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.product-card img:hover {
    transform: scale(.8); /* Decrease the size of the image on hover */
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #2831a7;
} 

.product-card  a{
    background-color: #28a745 ;
    color: #fff ;
    border: none ;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer ;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out !important;
}

.product-card  a:hover {
    background-color: #fff ;
    color: #28a745 ; 
    border: 1px solid #28a745 ;
}

@media (max-width: 1450px) {
    .products-image .products-banner-img {
        height: 143px;
    }
    .product-card{
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .product-card{
        width: 220px;
    }
    .products-image .products-banner-img {
        height: 113px;
    }
}

@media (max-width: 768px) {
    .product-card{
        width: 167px;
    }
    .products-image .products-banner-img {
        height: 81px;
    }

}
@media (max-width: 500px) {
    .products-image .products-banner-img {
        height: 44px;
    }
}