/* Specific styles for the profile page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67vh; /* Ensure the background covers the full viewport height */
    padding: 20px;
}

.profile-container {
    width: 100%;
    max-width: 600px; /* Limit the width of the profile container */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text inside the profile container */
    margin-top: 20px; /* Margin for top */
    margin-bottom: 20px; /* Margin for bottom */
}

.profile-title {
    margin: 0;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info p {
    font-size: 16px;
    color: #555;
    margin: 20px 0; /* Margin for top and bottom of individual paragraphs */
}

.profile-info span {
    font-weight: bold;
}

.profile-logout {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background:#28a745;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px; /* Margin for top of the logout button */
    transition: background 0.3s ease;
}

.profile-logout:hover {
    background: #28a745;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-container {
        width: 90%;
        padding: 15px;
    }
    .profile-title {
        font-size: 20px;
    }
    .profile-info p {
        font-size: 14px;
    }
}
